
.caption{
    width: 92%;
    border-radius: 25px;
    padding: 15px 0;
    border: none;
    resize: none;
    background-color: #BDBDBD;
    color: whitesmoke;
    font-family: Urbanist-Reg;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.uploadButton{
    background: #FF4D67;
    padding: 13px 40px 13px 40px;
    color: #FAFAFA;
    border-radius: 25px;
    cursor: pointer;
    font-size: 18px;
    font-family: Urbanist-Bold;
    font-weight: 700;
    line-height: 25.2px;
    border: none;
}
.uploadButton:hover{
    opacity: 80%;
}
textarea::placeholder{
    text-align: center;
    margin-top: 30px;
}
.glowing-U{

}
.glowing-P{

}
