.div-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;

}



.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto, 150px);
    place-items: center;
}

.grid-item {
    object-fit: contain;
    height: 100px;
    width: 100%;
}

.profile-picture {
    border-radius: 50%;
    margin-top: 13px;
}

.profile-picture-w-edit-profile {
    position: relative;
}

.edit-profile {
    position: absolute;
    bottom: 0.4rem;
    left: 245px;
}

.border {
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    padding: 0 20px;
    margin-bottom: 2rem;
}

div.icons {
    display: flex;
    justify-content: space-between;
    width: 8rem;
    margin-left: 2rem;
}

.counts {
    margin: 1vh auto;
    border-bottom: 1px solid #EEEEEE;

}

.counts div {
    width: 100px
}

.counts p {
    margin-top: 2px;
}


.profile-bio h3 {
    font-size: 1.5rem;
    margin-bottom: 0;
}



a.link {
    margin-top: 0.5rem;
    text-decoration: none;
    display: block;
    color: linear-gradient(286.17deg, #246BFD 0%, #6F9EFF 100%);

}