.gallery-item {
  position: relative;
  transition: all 0.25s ease;
}

.gallery img {
  max-width: 100%;
  height: 300px;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(11, 11, 15, 0.593);
  opacity: 0;
  transition: all 0.25s ease;
}

.gallery-item:hover {
  box-shadow: 0 0 1.5rem rgb(57, 57, 57);
  transform: translateY(-0.3rem);
}

.gallery-item:hover .trip-info {
  opacity: 1;
  transform: translate(-50%, -25%);
}

.gallery-item:hover .overlay {
  opacity: 1;
}

.trip-info {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -10%);
  /* width: 35rem; */
  text-align: center;
  transition: all 0.25s ease;
}

.trip-name {
  color: #fff;
  /* font-size: 3rem; */
  margin-bottom: 1.2rem;
}

.trip-text {
  color: #fff;
  font-size: 1.2rem;
}
