.profile {
  margin-top: 2vh;
}

.div-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* das ist für home */
.icons2 {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
.home-username {
  display: flex;
  gap: 22.4px;
  margin-left: 10px;
}

/* das ist für home */
.div-flex2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.5vh;
  border-bottom: 2px solid #eeeeee;
  margin-bottom: 34px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(auto, 150px); */

  place-items: center;
  gap: 8px;
}

.grid-item-container {
  height: 124px;
  width: 124px;
  overflow: hidden;
  border-radius: 14px;
}

.grid-item {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.profile-picture {
  border-radius: 50%;
  margin-top: 2rem;
  margin-bottom: 0.8rem;
  object-fit: cover;
  aspect-ratio: 1/1;
  object-position: top;
}

.profile-picture-w-edit-profile-editpage {
  position: relative;
}

#edit-profile {
  position: absolute;
  bottom: 1.3rem;
  left: 228px;
}

.border {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 0 20px;
  margin: 20px;
}

div .icons {
  display: flex;
  justify-content: space-between;
  width: 8rem;
  margin-left: 2rem;
  margin-right: 10px;
}

.counts {
  margin: 34px auto;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 24px;
}

.counts div {
  width: 100%;
}

.counts p {
  margin-top: 2px;
}

.profile-bio h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.profile-bio p {
  margin-bottom: 0.5rem;
}

a.bio {
  display: block;
}

.profile-bio #link {
  margin-top: 0.5rem;
  text-decoration: none;
  display: inline-block;
  color: RGB(73, 127, 254);
  font-family: "Urbanist";
  font-weight: 700;
  font-size: 14px;
}
.counts > div:first-child {
  border-right: 1px solid black;
}
.counts > div:nth-of-type(2) {
  border-right: 1px solid black;
}

.Feeds-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 0 2rem 0.75rem 2rem;
  border-bottom: 4px solid #ff4d67;
  margin-bottom: 0.75rem;
}

.Feeds {
  color: #ff4d67;
  margin-left: 12px;
}

.editprofile-section {
  margin-bottom: 70px;
}
