.profile {
  margin-top: 2vh;
}

.div-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* das ist für home */
.icons2 {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-right: 7vw;
}

/* das ist für home */
.div-flex2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.5vh;
  border-bottom: 2px solid #eeeeee;
  margin-bottom: 1vh;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(auto, 150px); */
  grid-template-rows: 200px;
  place-items: center;
  gap: 4px;
}

.grid-item-container {
  height: 124px;
  width: 124px;
  overflow: hidden;
  border-radius: 14px;
}

.grid-item {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.profile-picture {
  border-radius: 50%;
  margin-top: 2rem;
  margin-bottom: 0.8rem;
}

.profile-picture-w-edit-profile {
  position: relative;
}

.edit-profile {
  position: absolute;
  bottom: 0.8rem;
  left: 245px;
}

.border {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 0 20px;
  margin: 20px;
}

div.icons {
  display: flex;
  justify-content: space-between;
  width: 8rem;
  margin-left: 2rem;
}

.counts {
  margin: 2vh auto;
  border-bottom: 1px solid #eeeeee;
}

.counts div {
  width: 100px;
}

.counts p {
  margin-top: 2px;
}

.profile-bio h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.profile-bio p {
  margin-bottom: 0.5rem;
}

a.bio {
  display: block;
}

a.link {
  margin-top: 0.5rem;
  text-decoration: none;
  display: inline-block;
  color: linear-gradient(180deg, #246bfd 0%, #6f9eff 100%);
  font-family: Urbanist-Bold;
}

.Feeds-container {
  display: flex;
  width: fit-content;
  padding: 0 2rem 0.75rem 2rem;
  border-bottom: 4px solid #ff4d67;
  margin-bottom: 0.75rem;
}

.Feeds {
  color: #ff4d67;
  margin-left: 12px;
}