body {
  background-color: orange;
}
/* placeholder in textarea
    use navigate ansehen und auf upload button übertragen 
    
    profilepage stylen ohne followbutton*/
.navbar {
  height: 70px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  border-top: 1px solid #ff4d67;
  /* background: linear-gradient(145deg, #f0f0f0, #cacaca); */
  background-color: white;
}

.navbar-icons {
  display: flex;
  align-items: center;
  gap: 5rem;
  margin: auto;
}
.home1 {
  border-radius: 15px;
  /* background: linear-gradient(145deg, #f0f0f0, #cacaca); */
  /* box-shadow: 5px 5px 20px #9c9c9c, -5px -5px 20px #ffffff; */
}
.search1 {
  border-radius: 15px;
  /* background: linear-gradient(145deg, #f0f0f0, #cacaca); */
  /* box-shadow: 5px 5px 20px #9c9c9c, -5px -5px 20px #ffffff; */
}
.upload1 {
  border-radius: 15px;
  /* background: linear-gradient(145deg, #f0f0f0, #cacaca); */
  /* box-shadow: 5px 5px 20px #9c9c9c, -5px -5px 20px #ffffff; */
}
.profile1 {
  border-radius: 15px;
  /* background: linear-gradient(145deg, #f0f0f0, #cacaca); */
  /* box-shadow: 5px 5px 20px #9c9c9c, -5px -5px 20px #ffffff; */
}
