/* body{
    background-color: orange;
} */
/* placeholder in textarea
    use navigate ansehen und auf upload button übertragen 
    button reindrücken
    textarea kleiner machen */
.navbar {
  height: 80px;
  min-width: 400px;
  background-color: white;
  border-radius: 25px 25px 0 0;
  position: fixed;
  bottom: 0;
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
  /* margin: 0 2%; */
}

.navbar-icons {
  display: flex;
  align-items: center;
  gap: 5rem;
  margin: auto;
}