body{
    /* background-color: #e5e5e5; */
    background-color: #f1f1f1; 
}
.search-wrapper{
    
}
.searchbar-wrapper{
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6%;
    margin-bottom: 5%;
    box-shadow: 11px 11px 30px #AAAAAA, -11px -11px 30px #F4F4F4;
    border: 1px solid #ff4d67;
    border-radius: 25px;
}
.searchbar-wrapper input{
    height: 40px;
    font-size: 1.8rem;
    border-radius: 25px;
    padding-left: 2%;
    border: 1px solid #ff4d67;
    padding-left: 20px;
    
    box-shadow: inset 11px 11px 30px #AAAAAA, inset -11px -11px 30px #F4F4F4;
}
.searchbar-wrapper input:focus{
    box-shadow: 11px 11px 30px #AAAAAA, -11px -11px 30px #F4F4F4;
    border: 1px solid #CFCFCFCF;
}
.lupe{
    margin-right: 2%;
    height: 30px;
}
.divide{
    height: 5px;
    width: 98%;
    background-color: #ff4d67;
    border-radius: 4px;
    margin: 1% 2% 6% 1%;
}